In [ ]:
***Slicing of list datatype for implementation with list datatype

In [1]:
cities=['california','london','pune','paris','mumbai','rome','new york','riyadh','istanbul','chennai']
print(cities)

['california', 'london', 'pune', 'paris', 'mumbai', 'rome', 'new york', 'riyadh', 'istanbul', 'chennai']

In [2]:
type(cities)

list

In [3]:
print(cities[2])
#accessing city 2

pune

In [6]:
***general syntax of slicing startvalue:stopvalue:stepcount:lastvalue is always exclusive(it will not be printed or displayed on the screen or output)

SyntaxError: invalid syntax (<ipython-input-6-6809efd27e15>, line 1)

In [7]:
print(cities[0:1])

['california']

In [8]:
print(cities[0:2])

['california', 'london']

In [9]:
print(cities[2:4])

['pune', 'paris']

In [10]:
print(cities[4:6])

['mumbai', 'rome']

In [11]:
print(cities[6:8])

['new york', 'riyadh']

In [12]:
print(cities[7:9])

['riyadh', 'istanbul']

In [13]:
print(cities[8:10])

['istanbul', 'chennai']

In [15]:
to print numbers between 1-20 and I have to store them in a list

SyntaxError: invalid syntax (<ipython-input-15-d76859b1611d>, line 1)

In [17]:
numbers=list(range(1,21))
#last value will not be displayed
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [18]:
I want to print even numbers from 1-30 by using a list

SyntaxError: invalid syntax (<ipython-input-18-00d77804a2e8>, line 1)

In [20]:
If a number is divisible by 2,that is considerd as an even number.
startpoint:endpoint:stepcount

SyntaxError: invalid syntax (<ipython-input-20-87f1649ca245>, line 1)

In [21]:
even_num=list(range(2,31,2))
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [25]:
odd_num=list(range(3,31,2))
print(odd_num)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [ ]:
***organising the list

In [26]:
print(cities)

['california', 'london', 'pune', 'paris', 'mumbai', 'rome', 'new york', 'riyadh', 'istanbul', 'chennai']

In [27]:
Arrange names in alphanetical or der 
two possible ways:
    1)temp sorting (sorted)
    #temporarily it will be changed 
    2)permamnent sorting (sort)

SyntaxError: invalid syntax (<ipython-input-27-30245429b2e5>, line 1)

In [30]:
print(sorted(cities))

['california', 'chennai', 'istanbul', 'london', 'mumbai', 'new york', 'paris', 'pune', 'riyadh', 'rome']

In [31]:
print(cities)

['california', 'london', 'pune', 'paris', 'mumbai', 'rome', 'new york', 'riyadh', 'istanbul', 'chennai']